@font-face {
    font-family: 'nexa_rust_slabblack_shadow_01';
    src: url('/assets/nexarustslab-blackshadow01-free-webfont.woff2') format('woff2'),
         url('/assets/nexarustslab-blackshadow01-free-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}