<div class="container">

    <table id="chess-board" class="col-centered" >
    </table>

</div>

<script>
    $(function() {
        for (var i = 8; i > 0; i--) {
            $("#chess-board").append(
          "<tr>" +
            "<td id=A" + i + "></td>" +
            "<td id=B" + i + "></td>" +
            "<td id=C" + i + "></td>" +
            "<td id=D" + i + "></td>" +
            "<td id=E" + i + "></td>" +
            "<td id=F" + i + "></td>" +
            "<td id=G" + i + "></td>" +
            "<td id=H" + i + "></td>" +
          "</tr>");
        }
    })
</script>
