<div class="container">

    <table id="chess-board" class="col-centered" >
    </table>

</div>

<script>
    $(function() {
        for (var y = 0; y <= 7; y++) {
            $("#chess-board").append(
          "<tr>" +
            "<td data-x='0' data-y='" + y + "'></td>" +
            "<td data-x='1' data-y='" + y + "'></td>" +
            "<td data-x='2' data-y='" + y + "'></td>" +
            "<td data-x='3' data-y='" + y + "'></td>" +
            "<td data-x='4' data-y='" + y + "'></td>" +
            "<td data-x='5' data-y='" + y + "'></td>" +
            "<td data-x='6' data-y='" + y + "'></td>" +
            "<td data-x='7' data-y='" + y + "'></td>" +
          "</tr>");
        }
    })
</script>
