<br>
<br>
<%= content_tag :div, class: "piece_pos", data: { positions: @piece_positions } do %>
<% end %>
<div class="text-center players">
  <h2>&#9819; Player1 vs &#9813; Player2</h2>

  <hr class="col-xs-6 col-xs-offset-3">

</div>
<br>
<br>
<div class="container">
  <table id="chess-board" class="col-centered" >
  </table>
</div>