<div class="container-fluid">
  <section id="player-dashboard">
    <div class="row">
      <div class="user col-sm-offset-1 col-sm-2">
        <%= image_tag 'user.png', class:'img-responsive' %>
        <h4><%= @user.email %></h4>
        <h4>Member Since: <%= @user.created_at.strftime("%B %d, %Y") %></h4>
        <a class="btn-block btn btn-info" href="#" role="button">Account Settings</a>
      </div>
      <div class="boxed col-sm-8">
        <h2 class="text-center">Hello There!</h2>
        <div class="col-sm-offset-1">
        <h3><b>Your Statistics</b></h3>
        <br />
        <h4>Games Played</h4> 
        <h4>Wins</h4>
        <h4>Losses</h4>
        <h4>Draws</h4>
        <h3><b>Historical Battles</b></h3>
        </div>
      </div>
    </div>
  </section>
</div>
