/*
 *= require jquery-ui
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "mixins";
@import "global";
@import "footer";
@import "navbar";
@import "games";
@import "devise";
@import "players";

@import 'https://fonts.googleapis.com/css?family=Rakkas';
