// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#chess-board {
  border: 7px solid #000;
  border-collapse: separate;
  margin: auto;
  table-layout: fixed;
}

#chess-board td {
  @include cell-gradient(#fff, #eee);
  @include shadow-box(1px, #fff);
  margin: 0;
  padding: 0;
  width: 88px;
  height: 88px;
  text-align: center;
}

.players h2 {
  word-spacing: 10px;
}

#chess-board piece {

}

.piece {
  font-size: 45px;
  text-shadow: 3px 3px 8px #444;
}

.white {
  color: white;
}

.black {
  color: black;
}

#chess-board tr:nth-child(odd) td:nth-child(even),
#chess-board tr:nth-child(even) td:nth-child(odd) {
  box-shadow:inset 0 0 10px rgba(0,0,0,.4);
  -moz-box-shadow:inset 0 0 10px rgba(0,0,0,.4);
  -webkit-box-shadow:inset 0 0 10px rgba(0,0,0,.4);
  @include cell-gradient(#ccc, #eee);
}

/* have to use a class here to override box shadow settings above */
.container #chess-board tr td:hover {
  box-shadow: inset 0 0 12px rgba(166,34,25, 0.6);
  -moz-box-shadow: inset 0 0 12px rgba(166,34,25, 0.6);
  -webkit-box-shadow: inset 0 0 12px rgba(166,34,25, 0.6);
}

.highlighted-cell {
  border: 3px solid rgba(63,166,41, 0.6);
}

#games-list {
  padding-top: 20px;
}

#profile {
  margin-top: 40px;
  padding-bottom: 30px;
}

.join-headline {
  margin-bottom: 40px;
  margin-top: 0px;
}

.stats {
  padding-top: 20px;
}
