hr {
border: 0;
height: 1px;
background: #333;
background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

body {
  background: url('/assets/concrete.png');
  font-family: 'Rakkas', cursive;
}

.clr {
  clear: both;
}
.login {
  width: 100%;
}

.new-account {
  padding-top: 20px;
}

.team-profile {
  border-radius: 5px;
  margin-top: 10px;
}

.feature-pic {
  border-radius: 5px;
}

p {
  text-align: justify;
}

.hr {
  margin-top: 15px;
}

#solutions {
  margin-bottom: 15px;
}
