// Place all the styles related to the players controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.boxed {
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
  margin-bottom: 30px;
}

.boxed h4 {
  padding-left: 25px;
  padding-bottom: 26px;
}

.boxed .top {
  padding-top: 25px;
}

.account-settings {
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .dash-button {
    margin-bottom: 20px;
  }
}