<footer>
  <div class="col-xs-6 text-center">
    <ul class="footer-links">
      <li><%= link_to 'TeamStoic', 'https://github.com/TeamStoic' %></li>
      <li><%= link_to 'Firehose Project', 'https://www.thefirehoseproject.com/' %></li>
      <li><%= link_to 'Copyright', '#' %></li>
    </ul>
  </div>
</footer>
